<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirCorp</title>
</head>
<body>
    <header>
        <h1>Welcome {{display_get_oneUser.fullName()}}</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <table>
            <tr>
                <th>ID</th>
                <th>Airline Name</th>
                <th>Total Locations</th>
                <th>Actions</th>
            </tr>
            {% for rec in display_get_allAirline: %}
            <tr>
                <td>{{rec.id}}</td>
                <td>{{rec.airlineName}}</td>
                <td>{{rec.locationCount}}</td>
                <td>yo, we need some actions here</td>
            </tr>
            {% endfor %}
        </table>
        <button> 
            <a href="/airlines/add">Add new airline</a>
        </button>
    </main>
</body>
</html>