<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Recipes Dashboard</title>
</head>
<body>
    <header>
        <div class="header_content_vert"> 
            <h1>Recipes Dashboard</h1>
            <h2>Welcome, {{dsp_get_oneUser.firstName}}</h2>
        </div>
    </header>
    <div >
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>

        <table class="table_01" >
            <tr>
                <th class="th_01">Recipe Name</th>
                <th class="th_01">Under 30 mins?</th>
                <th class="th_01">Actions</th>
            </tr>
            {% for rec in dsp_get_allRecipe %}
                <tr>
                    <td class="td_01">{{rec.recipeName}}</td>
                    <td class="td_01">
                        {%if rec.under30min %}
                            {{rec.under30min}}
                        {% else %}
                        
                        {% endif %}
                        
                    </td>
                    <td class="td_01">
                        <a href="/recipe/{{rec.id}}/">View</a>
                        {%if dsp_get_oneUser.id ==  rec.user_id %}
                            <a href="/recipe/{{rec.id}}/edit/">Edit</a>
                            <a href="/recipe/{{rec.id}}/delete/">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="">
            <button> <a href="/recipe/add/">Add Recipe</a></button>
            <button> <a href="/logout/">Logout</a></button>
        </div>
    </main>
    

    
    <footer>

    </footer>
</body>
</html>