<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Add a Recipe</title>
</head>
<body>
    <header>
        <div class="header_content_vert"> 
            <h1>Does this recipe need fixing?  Well... do it!</h1>
            <h2>We trust you, {{dsp_get_oneUser.firstName}}.  You got this.</h2>
        </div>
    </header>

    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <form action="/recipe/{{dsp_get_oneRecipe.id}}/update/" method="post" > 
            <section>
                <label for="recipeName"> Recipe Name: </label>
                <input type="text" name="recipeName" value="{{dsp_get_oneRecipe.recipeName}}">
            </section>
            
            <section> 
                <label for="recipeDesc">Description:</label>
                <textarea name="recipeDesc" rows="10" cols="30">{{dsp_get_oneRecipe.recipeDesc}}</textarea>
            </section>
            
            <section> 
                <label for="recipeInst">Instructions:</label>
                <textarea name="recipeInst" rows="10" cols="30">{{dsp_get_oneRecipe.recipeInst}}</textarea>
            </section>
            
            <section> 
                <p>Under 30 mins? </p>
                {% if dsp_get_oneRecipe.under30min == "yes" %}
                    <input type="radio" id="yes" name="under30min" value="yes" checked>
                    <label for="yes">Yes</label><br>
                    <input type="radio" id="no" name="under30min" value="no">
                    <label for="no">No</label><br>
                {% elif dsp_get_oneRecipe.under30min == "no" %}
                    <input type="radio" id="yes" name="under30min" value="yes" >
                    <label for="yes">Yes</label><br>
                    <input type="radio" id="no" name="under30min" value="no" checked>
                    <label for="no">No</label><br>
                {% else %} 
                    <input type="radio" id="yes" name="under30min" value="yes" >
                    <label for="yes">Yes</label><br>
                    <input type="radio" id="no" name="under30min" value="no" >
                    <label for="no">No</label><br>
                {% endif %}
            </section>

            <section> 
                {% if dsp_get_oneRecipe.dateMade %}
                    <label for="dateMade">dateMade:</label>
                    <input type="date" id="dateMade" name="dateMade" value = "{{dsp_get_oneRecipe.dateMade.strftime('%Y-%m-%d')}}">
                {% else %} 
                <label for="dateMade">dateMade:</label>
                <input type="date" id="dateMade" name="dateMade" >
                {% endif %}
            </section>


            <button>Update Recipe</button>
        </form>
        <button> <a href="/dashboard/">Cancel Edit</a></button>
        <button> <a href="/logout/">Logout</a></button>
    </main>
</body>
</html>