<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{dsp_get_oneRecipe.recipeName}}</title>
</head>
<body>
    <header>
        <h1>Here it is, {{dsp_get_oneUser.firstName}}</h1>
        <h2>{{dsp_get_oneRecipe.recipeName}}</h2>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <h2>Description: {{dsp_get_oneRecipe.recipeDesc}}</h2>
        <h2>Instructions: {{dsp_get_oneRecipe.recipeInst}}</h2>
        
        <button> <a href="/recipe/{{dsp_get_oneRecipe.id}}/edit/">Edit Recipe</a></button>
        <button> <a href="/logout/">Logout</a></button>
    </main>
</body>
</html>